{
    "singleQuote": true,
    "semi": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 190,
    "overrides": [
        {
            "files": "*.scss",
            "options": {
                "parser": "scss"
            }
        }
    ]
}
